/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
	background-color: #777;
	font-size: 18px;
	content: #ebebeb;
}

#hdr1 {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 100px;
  color: grey;
  background: #ccc;
  font-family: Arial;
}

#hdr2 {
  padding: 20px;
  color: grey;
  background: #ccc;
  margin-right: 100px;
  margin-left: 100px;
  font-family: Helvetica;
}

#section-left {
  float: left;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 100px;
  color: grey;
  background: #ccc;
  width: 550px;
  height: 250px;
}

article {
	background-color: #777;
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 0px;
	margin-right: 100px;
	width: 475px;
	height: 125px;
}

h1 {
	background: #ccc;
	color: black;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 35px;
	margin-right: 5px;
	width: 400px;
	height: 25px;
	font-family: "Helvetica Neue";
}	

p {
	background: #ccc;
	color: black;
	margin-left: 35px;
	margin-right: 5px;
	width: 400px;
	height: 25px;
	font-family: sans-serif;
}

aside {
  float: right;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 10px;
  color: grey;
  background: #ccc;
  width: 550px;
  height: 250px;
}


footer {
  clear: both;
  float: bottom;
  padding: 10px;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 100px;
  color: grey;
  background: #ccc;
}
